/* Introduce web application colour palette */
:root {
    --mc1: #A5E6BA;
    --mc2: #360568;
    --light0: #fff;
    --light1: #D2F3DD;
    --light2: #9B82B4;
    --dark1: #2A3A2F;
    --dark2: #1B0334;
}

/* Create a flexbox for the header, creating display for a portrait phone first so the navbar is being displayed as a column with the content aligned at the centre */
#navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--dark2);
    align-items: center;
    }

/* Stylising the title of web page */
#mimi {
    font-size: 3em;
    color: var(--light2);
    padding: 0.3em;
}

/* Displaying nav bar as a column for a phone */
#navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}

/* Styling nav bar */
#navbar a{
    text-decoration: none;
    color: var(--light2);
}

/* Add a separating image from the content with a subtitle in the bottom right corner */
.hero {
    height: 12em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(../images/pexels-google-deepmind-17485709.jpg);
    background-size: cover;
    background-position: bottom;
    font-weight: bolder;
    color: var(--dark2);
    padding: 0.3em 0.7em;
}

/* set overall page's colour scheme */
body {
    background-color: var(--light1);
    color: var(--dark2);
}

/* Make each section a flex box, display as a column for mobile display */
.main-box {
    display: flex;
    flex-direction: column;
}

/* make each section heading have a margin at the bottom */
h2 {
    margin: 0.5em;
    border-bottom: 3px var(--mc2) solid;
    flex-shrink: 0;
}

/* have the content of each section have padding */
.right-inside {
    /* flex-wrap: wrap; */
    padding: 0.3em 1em;
    /* width: 80%; */
}

/* For the links to the applications created, create a flex box in which will wrap around if the screen is small */
.work-flex {
    display: flex;
    flex-wrap: wrap;
}

/* make the children grow or shrink in a 1 to 1 ratio with a flex-basis (min-width) of 10em */
.work-flex a {
    margin: 1%;
    border: var(--dark2) 3px solid;
    height: 12em;
    flex: 1 1 12em;
    position: relative;
}

/* img to cover the parent container and have lower opacity */
.work-flex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

/* image link has full opacity when cursor hovers */
img:hover {
    opacity: 1;
}

/* text describing project is on top of the image */
.text-overlay {
    position: absolute;
    bottom: 10%;
    left: 0%;
    background-color: var(--dark2);
    padding: 0.3em;
    color: var(--light0);
    max-width: 90%;
    z-index: 1;
}

#contact-me {
    font-weight: bolder;
}

#contact-me a {
    color: var(--dark1);
    font-weight: normal;
}

/* stylise footer */
footer {
    padding: 1%;
    background-color: var(--dark2);
    color: var(--mc1);
    text-align: center;
    font-weight: bolder;
}

/* add media query for screens of different size */
@media screen and (min-width: 768px) {
    /* make nav bar flow as a row instead of column */
    #navbar {
        flex-direction: row;
    }

    /* push nav bar to the right side of the screen whilst keeping the title of the application on the left */
    #mimi {
        margin-right: auto;
    }

    /* make links flow as a row and add a gap */
    #navbar ul {
        flex-direction: row;
        gap: 2em;
        margin: 1em;
    }

    /* make each section flow as a row instead of a column */
    .main-box {
        flex-direction: row;
    }

    /* remove bottom border and replace with right border */
    h2 {
        width: 20%;
        text-align: right;
        border-bottom: 0;
        border-right: 3px var(--mc2) solid;
        padding: 0.3em;
    }
}